<!DOCTYPE html>
<html>
  <head>
    <title>ChatDemo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <!-- Firebase App is always required and must be first -->
    <script src="https://www.gstatic.com/firebasejs/5.7.0/firebase-app.js"></script>

    <!-- Add additional services that you want to use -->
    <script src="https://www.gstatic.com/firebasejs/5.7.0/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.7.0/firebase-database.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.7.0/firebase-firestore.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.7.0/firebase-messaging.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.7.0/firebase-functions.js"></script>

    <script src="https://www.gstatic.com/firebasejs/5.4.0/firebase.js"></script>
    <script src='https://cdn.firebase.com/js/client/2.2.1/firebase.js'></script>


    <script>
        // Initialize Firebase
        var config = {
          apiKey: "AIzaSyBYa0r2mj6z-jWZKulxJqHG4ecX731m70g",
          authDomain: "fir-chat-dcb17.firebaseapp.com",
          databaseURL: "https://fir-chat-dcb17.firebaseio.com",
          projectId: "fir-chat-dcb17",
          storageBucket: "fir-chat-dcb17.appspot.com",
          messagingSenderId: "1089501414601"
        };
        firebase.initializeApp(config);

        function writeMessage(messageId, name, text) {
          firebase.database().ref('message/' + messageId).set({
            name: name,
            text: text
          })
        }
    </script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
